<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<html>
	<head>
		<title>AmSL</title>
	</head>
	<body style='background-image: url("/static/bg.jpg"); background-size: 100%; background-repeat: repeat;'>
		<img src="/static/amls.png" style="display:block;margin-left: auto;margin-right: auto;">
		<h3 style="text-align:right;font-weight:bold;padding-right: 10%;">Análisis morfológico, lematizador y estemmer</h3>
		<div class="container">
			<div class="panel-body">
				<form action="." method="POST">
					<textarea style="color:black; opacity:0.5;" placeholder="Ingrese su texto" class="form-control" rows="5" name="inte" id="inte">{{text}}</textarea>
					<input type="submit" onclick="gettext()" class="btn btn-primary" value="Analizar"></input>
				</form>
			</div>
			<div class="panel-body">
				<div class="row">
				  <div class="col-xs-2 col-sm-2 col-md-1" style="font-weight:bold;font-size:20px;text-align:center;">Original</div>
				  <div class="col-xs-2 col-sm-2 col-md-1" style="font-weight:bold;font-size:20px;text-align:center;">Lema</div>
				  <div class="col-xs-2 col-sm-2 col-md-1" style="font-weight:bold;font-size:20px;text-align:center;">Stemm</div>
				  <div class="col-xs-6 col-sm-6 col-md-6" style="font-weight:bold;font-size:20px;text-align:center;">Morfología</div>
				</div>
				<HR width=100% align="center"> 
				
				<div class="col-xs-2 col-sm-2 col-md-1">
					{% for word in words %}
				  <div class="row" style="line-height: 22px;text-align:center;">{{word}}</div>
				  <HR width=90% align="center"> 
				  {% endfor %}
				</div>

				<div class="col-xs-2 col-sm-2 col-md-1">
					{% for lema in lemas %}
				  <div class="row" style="line-height: 22px;text-align:center;">{{lema}}</div>
				  <HR width=90% align="center"> 
				  {% endfor %}
				</div>

				<div class="col-xs-2 col-sm-2 col-md-1">
					{% for stemm in stemms %}
				  <div class="row" style="line-height: 22px;text-align:center;">{{stemm}}</div>
				  <HR width=90% align="center"> 
				  {% endfor %}
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6">
					{% for morfo in morfos %}
				  <div class="row" style="line-height: 22px;">
				  	{% for morf in morfo %}
				  	<div class="col-xs-6 col-sm-6 col-md-6" style="text-align:center;">
				  		[<span style="color: blue;">{{morf.0}}</span> - <span style="color: red;">{{morf.1}}</span> - <span style="color: green;"> {{morf.2}}</span>]
				  	</div>
				  	{% endfor %}
				  </div>
				  <HR width=100% align="center"> 
				  {% endfor %}
				</div>
				
			</div>
			<HR width=100% align="center">
			<footer>
		 	<p style="text-align:right;line-height: 3px;font-weight:bold;font-style: italic;">Mario Payan - Julian Rico</p>
		 </footer> 
		</div>
		 
	</body>
</html>

